<div>
    <h1> {{getTitle()}} </h1>
    <div>
        <p>Username: {{getUsername()}}</p>
    </div>
    <div>
        <form [formGroup]="profileForm" > <!-- Using onclick in input... as provided in usecase (ngSubmit)="onSubmit()"-->

            <label for="firstname">First Name: </label>
            <input id="firstname" type="text" formControlName="firstName">
          
            <label for="lastname">Last Name: </label>
            <input id="lastname" type="text" formControlName="lastName">
            
            <input type="button" value="Save" (click)="onSubmit()">
          </form>

    </div>
    <p *ngIf="isLoadingProfile()">Loading profile...</p>
    <p *ngIf="isSavingProfile()">Saving profile</p>
    <p *ngIf="isErrorOccured()">Error! {{getErrorMessage()}}</p>
</div>